@import '../Sass-utils/color.scss';

.Info-User{
    width: 100%;
    position: relative;
    height: 100vh;
    overflow: auto;
    .bg-Section{
        width: 100%;
        height: 375px;
        background: #25a5fa;
        opacity: 0.05;
        filter: blur(164px);
        position: absolute;
        z-index: -1;
        transition: 0.3s;
        content: '';       
    }
    .progress-b{
        margin-top: 40px;
        .progress {
            height: 0.5rem;
        }
    }
    .svg-i {
        margin-top: 15px;
    }
    h4 {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #3F4156;
        text-shadow: 0px 33px 100px rgb(22 26 68 / 6%);
        backdrop-filter: blur(20px);
        display: flex;
        margin-top: 15px;
    }
    p1 {
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: #666666;
    }
    p {
        margin-top: 19px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
        text-transform: capitalize;
        color: #666666;
    }
}

.css-1s2u09g-control {
    line-height: 40px;
    // border-color: hsl(0deg 0% 100%);
}
.form-control {
    line-height: 40px;
}
.form-check.form-check-inline {
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    backdrop-filter: blur(24px);
    border-radius: 4px;
    font-size: 14px;
    color: #222222;
    padding: 12px 45px 12px 45px;
    &:focus-within {
        background: #25A5FA;
        color: #ffffff;
    }
}
.ButtonSet2 {
    background: $headingColor;
    box-shadow: 0px 33px 100px rgb(22 26 68 / 6%);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 4px;
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    line-height: 54px;
    text-decoration: auto;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 15px;
}